.DS_Store
DerivedData/
build/
.build/
*.xcuserstate
xcuserdata/
*.moved-aside
*.ipa
*.dSYM.zip
*.dSYM
*.swp
*.log
.env
.env.*
!.env.example
Secrets.plist
GoogleService-Info.plist
*.mobileprovision
*.p8
*.p12
*.cer
